.container {
    display: grid;
    grid-template-columns: 200px auto 400px;
    /* grid-column-gap: 100px;
    grid-row-gap: 50px; */
    /* grid-gap: 20px 50px; */
    font-size: 100px;
    border: 2px solid red;
    text-align: center;
}

.element-1 {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-row-start: 1;
    grid-row-end: 4; */
    grid-column: 1/3;
    grid-row: 1/3;
}

.container div {
    border: 2px solid blue;
}