{% extends "base.html" %}

{% block main %}
<section id="page-articles">
    <div class="container-titre-btn">
        <h1>Articles</h1>
        <a class="btn-lien" href="{{ url_for('creer_article') }}">Créer</a>
    </div>
    {% for article in articles %}
    <article>
        <h3>
            <a href="{{ url_for('articles', slug=article.slug) }}">{{article.titre}}</a>
        </h3>
        <p>{{article.contenu}}</p>
        <span>{{article.date.date()}}</span>
    </article>
    {% endfor %}
</section>
{% endblock %}