body {
    background-color: #FEFEFE;
}

main {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: lightgreen;
}

#presentation {
    background-color: lightpink;
}

#projets {
    background-color: lightsalmon;
}

#articles {
    background-color: lightseagreen;
}

#contacts {
    background-color: lightskyblue;
}

footer {
    background-color: lightgray;
}

/* ####### Barre de navigation ####### */
nav {
    padding: 20px 10px;
}

nav a {
    text-decoration: none;
}

nav span {
    float: right;
}

nav span a {
    margin-right: 5px;
}

section {
    padding: 0 300px;
}